/*
1em = 16px;
0 - 428px:        Small Phone
420 - 600px:    Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   Normal styles apply
1800px + :      Big desktop
Order: Base & typography > general layout & grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background: #f7f7f7;
  margin: 0; }

body {
  font-family: Oswald, Arial, Helvetica, sans-serif; }

.heading__3 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
  padding: 0 0 1rem 0; }

.heading__4 {
  color: #000;
  font-weight: bold;
  font-size: 2.1rem; }
  @media only screen and (max-width: 32.5em) {
    .heading__4 {
      font-size: 2rem; } }

.heading__6 {
  color: #afb8b7;
  font-weight: 800;
  font-size: 2.2rem;
  padding-bottom: 1rem; }
  @media only screen and (max-width: 26.75em) {
    .heading__6 {
      font-size: 2rem; } }

.heading--feature p {
  color: #afb8b7;
  font-size: 1.5rem; }
  @media only screen and (max-width: 26.75em) {
    .heading--feature p {
      font-size: 1.5rem; } }

.heading--feature svg {
  border-radius: 50%;
  background: #fff;
  fill: #ff9251;
  width: 7.5rem;
  height: 7.5rem;
  grid-row: 1 / span 2;
  padding: 1.6rem;
  transform: translateY(-1rem);
  box-shadow: 0 0 3pt 2pt #ff9251;
  margin-top: 1.9rem; }
  @media only screen and (max-width: 32.5em) {
    .heading--feature svg {
      padding: 1rem; } }
  @media only screen and (max-width: 26.75em) {
    .heading--feature svg {
      padding: .5rem;
      width: 3.5rem;
      height: 3.5rem; } }

.heroic-text {
  color: #ff9251;
  font-weight: 700;
  font-size: 1.2rem;
  white-space: nowrap; }

.author {
  color: #5900ff;
  font-weight: 700;
  font-size: 1.2rem;
  white-space: nowrap;
  text-decoration: none; }

.orange {
  color: #ff9251; }

.grey {
  color: #afb8b7; }

.padding-top-small {
  padding-top: .7rem; }

.deactivated {
  opacity: .2; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: .5; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.features {
  background: #f7f7f7;
  grid-column: center-start / center-end;
  padding: 10rem 0;
  margin: 0 auto;
  max-width: 120rem; }
  @media only screen and (max-width: 75em) {
    .features {
      padding: 10rem; } }
  @media only screen and (max-width: 48em) {
    .features {
      padding: 7rem 2rem; } }
  @supports (display: grid) {
    .features {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
      grid-gap: 6rem;
      align-items: start; }
      @media only screen and (max-width: 56.25em) {
        .features {
          grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); } } }

.feature {
  float: left;
  width: 49%;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .feature span {
    display: block; }
  @supports (display: grid) {
    .feature {
      width: auto;
      margin-bottom: 0; } }

.nav,
.nav ul,
.nav ul li,
.nav ul li a,
.nav #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.nav {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 2;
  padding: 0 10rem;
  background: #fff;
  position: fixed;
  width: 100%; }
  .nav:after,
  .nav > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .nav__btn {
    padding: .3rem 0 .3rem 2rem !important; }
  .nav__logo-container {
    float: left; }
    .nav__logo-container > div {
      display: table-cell;
      vertical-align: middle;
      height: 7.5rem; }
      .nav__logo-container > div > a > img {
        vertical-align: middle; }
  .nav > ul {
    margin: 0 auto;
    max-width: 120rem; }
  .nav > ul > li {
    float: right;
    height: 7.5rem; }
    .nav > ul > li > a {
      padding: 2rem 2rem 1rem 2rem;
      font-size: 1.2rem;
      letter-spacing: 1px;
      text-decoration: none;
      color: #000;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 4rem; }
    .nav > ul > li:hover {
      background: #000; }
      .nav > ul > li:hover > a {
        color: #fff !important; }
  .nav #menu-button {
    display: none; }

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center; }

#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none; }

#cssmenu.align-center ul ul {
  text-align: left; }

#cssmenu.align-right > ul > li {
  float: right; }

#cssmenu > ul > li.has-sub > a {
  padding-right: 30px; }

#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 3.8rem;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ff9251;
  content: ''; }

#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 3.5rem;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ff9251;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0; }

#cssmenu ul ul {
  position: absolute;
  left: -9999px; }

#cssmenu.align-right ul ul {
  text-align: right; }

#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

#cssmenu li:hover > ul {
  left: auto; }

#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0; }

#cssmenu li:hover > ul > li {
  height: 35px; }

#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0; }

#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%; }

#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 17rem;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  background: #333333;
  z-index: 100; }

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0; }

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ff9251; }

#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #fff;
  content: ''; }

#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px; }

#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #fff;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px; }

#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0; }

@media (max-width: 865px) and (min-width: 790px) {
  .nav > ul > li > a {
    padding: 2rem 1.2rem 1rem 1.2rem;
    font-size: 1.1rem; } }

@media all and (max-width: 790px) {
  .nav {
    padding: inherit; }
    .nav__logo-container {
      display: none; }
    .nav > ul > li {
      height: inherit; }
      .nav > ul > li > a {
        padding: 1.7rem;
        line-height: inherit; }
  #cssmenu {
    width: 100%; }
  #cssmenu ul {
    width: 100%;
    display: none; }
  #cssmenu.align-center > ul {
    text-align: left; }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2); }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto; }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0; }
  #cssmenu > ul > li {
    float: none; }
  #cssmenu ul ul li a {
    padding-left: 25px;
    z-index: 1; }
  #cssmenu ul ul ul li a {
    padding-left: 35px; }
  #cssmenu ul ul li a {
    color: #afb8b7;
    background: none; }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ff9251; }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left; }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none; }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700; }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 9px;
    width: 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    content: ''; }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #000;
    content: ''; }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #000;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer; }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626; }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px; }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ff9251;
    content: ''; }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px; }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #fff; }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ff9251;
    content: ''; }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px; }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none; } }

header {
  display: flex;
  flex-flow: column;
  background: #fff; }

.row {
  max-width: 120rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 78rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 1rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-2-of-2 {
    width: 100%; }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 6rem * 2) / 3) + 6rem); }
  .row .col-3-of-3 {
    width: 100%; }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 6rem * 3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 6rem * 3) / 4) + (6rem * 2)); }
  .row .col-4-of-4 {
    width: 100%; }

.footer {
  background: #fff;
  padding: 10rem 0 2rem 0; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding-top: 2rem; } }
  .footer__location {
    position: relative; }
    .footer__location:after {
      content: '';
      border-right: 1px solid #afb8b7;
      display: block;
      height: 6.5rem;
      position: absolute;
      top: 0;
      right: 0; }
      @media only screen and (max-width: 56.25em) {
        .footer__location:after {
          border-top: 1px solid #afb8b7;
          width: 6.5rem; } }
      @media only screen and (max-width: 26.75em) {
        .footer__location:after {
          display: none; } }
  .footer__branding {
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .footer__branding {
        padding: 0 0 3rem 0; }
        .footer__branding p {
          font-size: 1.3rem !important; } }
  .footer__logo {
    margin: -7rem 0 1rem 0;
    width: 20rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo {
        margin: 0 0 1.2rem 0;
        width: 15rem; } }
  @media only screen and (max-width: 75em) {
    .footer .row {
      padding: 0 10rem; } }
  @media only screen and (max-width: 56.25em) {
    .footer .row {
      max-width: 100%;
      padding: 0 3.3rem; } }
  .footer .row p {
    color: #afb8b7;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .footer .row p {
        font-size: 1.3rem; } }
    @media only screen and (max-width: 26.75em) {
      .footer .row p {
        text-align: left;
        font-size: 1.5rem; } }
  .footer__contacts {
    text-align: right;
    position: relative; }
    @media only screen and (max-width: 26.75em) {
      .footer__contacts {
        text-align: center; }
        .footer__contacts:before {
          content: '';
          border-right: 1px solid #afb8b7;
          border-bottom: 1px solid #afb8b7;
          display: block;
          height: 6.5rem;
          width: 4.5rem;
          position: absolute;
          bottom: 0;
          right: 0; } }
    .footer__contacts:after {
      content: '';
      border-left: 1px solid #afb8b7;
      display: block;
      height: 6.5rem;
      position: absolute;
      top: 0;
      left: 0; }
      @media only screen and (max-width: 56.25em) {
        .footer__contacts:after {
          border-bottom: 1px solid #afb8b7;
          width: 6.5rem;
          bottom: 0;
          top: unset; } }
      @media only screen and (max-width: 26.75em) {
        .footer__contacts:after {
          height: 4.5rem;
          width: 4.5rem; } }
  .footer__social-icons {
    margin: 1rem 0 0 0; }
    .footer__social-icons a {
      color: #fff;
      font-size: 1.7rem; }
      @media only screen and (max-width: 26.75em) {
        .footer__social-icons a {
          font-size: 2.1rem; } }
      .footer__social-icons a:not(:last-child) {
        margin-right: 1rem; }
      .footer__social-icons a .facebook {
        background: #3B5998; }
      .footer__social-icons a .twitter {
        background: #50a6e9; }
      .footer__social-icons a .google {
        background: #DD4B39; }
      .footer__social-icons a .insta {
        background: #ff9251; }
    .footer__social-icons i {
      height: 4.5rem;
      width: 4.5rem;
      text-align: center;
      line-height: 4.5rem;
      border-radius: 50%; }
      @media only screen and (max-width: 26.75em) {
        .footer__social-icons i {
          height: 5rem;
          width: 5rem;
          line-height: 5.3rem; } }

.copy-container {
  background: #f7f7f7; }

.footer__copyright {
  margin: 0 auto;
  max-width: 120rem; }
  .footer__copyright::after {
    content: "";
    display: table;
    clear: both; }
  .footer__copyright p {
    color: #afb8b7;
    font-size: 1rem;
    padding: 2rem 0; }
    @media only screen and (max-width: 75em) {
      .footer__copyright p {
        padding: 1.7rem 9rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright p {
        padding: 1.5rem 3rem; } }
  .footer__copyright .left {
    float: left;
    width: 50%; }
  .footer__copyright .right {
    float: left;
    width: 50%; }
    .footer__copyright .right p {
      text-align: right; }

.gallery {
  background-color: #f7f7f7;
  grid-column: full-start / full-end;
  display: grid;
  /*grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);*/
  grid-template: repeat(7, 5vw)/repeat(8, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  @media only screen and (max-width: 32.5em) {
    .gallery {
      grid-gap: .5rem;
      padding: .5rem; } }
  .gallery__about-us {
    color: #fff;
    background: #ff9251;
    height: 100%;
    padding: 3rem;
    font-size: 3rem;
    font-family: "Josefin Sans", sans-serif;
    overflow: auto; }
    @media only screen and (max-width: 26.75em) {
      .gallery__about-us {
        padding: 1rem;
        font-size: 1.2rem; } }
    @media only screen and (max-width: 56.25em) {
      .gallery__about-us {
        font-size: 2.2rem; } }
    @media only screen and (max-width: 32.5em) {
      .gallery__about-us {
        font-size: 1.5rem; } }
    .gallery__about-us i {
      color: #000;
      display: block;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem; }
      @media only screen and (max-width: 26.75em) {
        .gallery__about-us i {
          font-size: 1.5rem; } }
    .gallery__about-us span {
      display: none; }
      @media only screen and (max-width: 26.75em) {
        .gallery__about-us span {
          display: block; } }
    @media only screen and (max-width: 26.75em) {
      .gallery__about-us p {
        display: none; } }
  .gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3; }
    @media only screen and (max-width: 56.25em) {
      .gallery__item--2 {
        grid-column: 4 / span 2; } }
  .gallery__item--3 {
    grid-row: 1 / span 4;
    grid-column: 6 / -1; }
  .gallery__item--1 {
    grid-row: 1 / span 7;
    grid-column: 1 / span 2; }
    @media only screen and (max-width: 56.25em) {
      .gallery__item--1 {
        grid-column: 1 / span 3; } }
  .gallery__item--6 {
    grid-row: 4 / span 4;
    grid-column: 3 / span 2; }
    @media only screen and (max-width: 56.25em) {
      .gallery__item--6 {
        grid-column: 4 / span 2; } }
  .gallery__item--7 {
    grid-row: 4 / 5;
    grid-column: 5 / 6; }
    @media only screen and (max-width: 56.25em) {
      .gallery__item--7 {
        display: none; } }
  .gallery__item--13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3; }
    @media only screen and (max-width: 56.25em) {
      .gallery__item--13 {
        grid-column: 6 / span 3; } }
  .gallery__item--14 {
    grid-row: 5 / span 3;
    grid-column: 8 / -1; }
    @media only screen and (max-width: 56.25em) {
      .gallery__item--14 {
        display: none; } }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.hero {
  background: #000;
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
  height: 65rem;
  max-height: 100vh; }
  @media only screen and (max-width: 32.5em) {
    .hero {
      height: 100vh; } }
  .hero__title {
    color: #afb8b7;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    @media only screen and (max-width: 32.5em) {
      .hero__title {
        padding: 3rem;
        text-align: left; } }
    .hero__title h1 {
      display: block;
      color: #ff9251;
      font-weight: bold;
      font-size: 3.5rem;
      padding: .5rem 0;
      text-transform: uppercase;
      z-index: 10; }
      @media only screen and (max-width: 48em) {
        .hero__title h1 {
          font-size: 2rem; } }
      @media only screen and (max-width: 32.5em) {
        .hero__title h1 {
          font-size: 1.6rem;
          padding: 0; } }
    .hero__title h2 {
      display: inline-block;
      color: #fff;
      line-height: 1.6rem;
      font-size: 1.6rem;
      font-weight: bold;
      padding: 1rem 0; }
      @media only screen and (max-width: 32.5em) {
        .hero__title h2 {
          font-size: 1.2rem; } }

.curriculum {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem; }

.about-us {
  background: #f7f7f7;
  text-align: center;
  padding: 10rem 0 0 0; }
  @media only screen and (max-width: 26.75em) {
    .about-us {
      padding: 5rem 0 0 0; } }
  @media only screen and (max-width: 26.75em) {
    .about-us h3 {
      display: none; } }

#about-us {
  margin-bottom: 4rem; }

.features-title {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-top: 10rem;
  max-width: 70rem;
  margin: 0 auto; }
  @media only screen and (max-width: 32.5em) {
    .features-title {
      padding: 6.5rem 3rem 0 3rem; } }
  .features-title h4 {
    color: #000;
    font-size: 3rem;
    padding: 0 0 1rem 0; }
    @media only screen and (max-width: 32.5em) {
      .features-title h4 {
        font-size: 2.2rem; } }
  .features-title p {
    line-height: 2.3rem;
    font-size: 1.4rem;
    position: relative; }
    @media only screen and (max-width: 32.5em) {
      .features-title p {
        text-align: justify; } }
    .features-title p:after {
      content: '';
      width: 5rem;
      border-bottom: 2px solid #ff9251;
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%); }

.sponsors {
  align-items: center;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .sponsors {
      padding: 6rem 0 3rem 0; } }
  @media only screen and (max-width: 48em) {
    .sponsors {
      padding: 1rem 0 0 0; } }
  .sponsors__sponsor {
    display: inline-block;
    padding: 2rem;
    width: calc(100% / 6); }
    @media only screen and (max-width: 56.25em) {
      .sponsors__sponsor {
        padding: 3rem;
        width: calc(100% / 3); } }
    @media only screen and (max-width: 48em) {
      .sponsors__sponsor {
        width: calc(100% / 2); } }
    @media only screen and (max-width: 32.5em) {
      .sponsors__sponsor {
        width: 100%; } }
    .sponsors__sponsor img {
      width: 100%; }
