// Colors
$color-white: #fff;
$color-offwhite: rgb(249, 249, 249);
$color-black: #000;
$color-grey: #afb8b7;
$color-orange: #ff9251;

// Grid Values
$grid-width: 120rem;
$column-space: 6rem;
$row-space: 2rem;
$row-space-small: 1rem;

// Font
$font-size-default: 1.6rem;