.language {
    background: $color-orange;
    color: $color-black;
    position: fixed;
    padding: .8rem;
    text-align: center;
    width: 100%;
    z-index: 100;
    margin-bottom: 2rem;
    font-size: 1.2rem;

    span {
        color: $color-white;
    }

    @include responsive(small-phone) { 
        background: $color-orange;
    }

    .link {
        color: $color-white;
        padding: 0 1rem;

        &:hover {
            color: $color-black;
            cursor: pointer;

            @include responsive(small-phone) { 
                color: $color-grey;
            }
        }
    }
}
header {
    display: flex;
    flex-flow: column;
    background: $color-white;
}