.features {
    background: $color-offwhite;
    grid-column: center-start / center-end;
    padding: 10rem 0;
    margin: 0 auto;
    max-width: 120rem;

    @include responsive(tablet-landscape) {
        padding: 10rem;
    }

    @include responsive(tablet-small) {
        padding: 7rem 3rem;
    }

    @supports(display: grid) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
        grid-gap: 6rem;
        align-items: start;

        @include responsive(tablet-portrait) {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }
    }
}
.feature {
    // Incase browser doesnt support grid
    float: left;
    width: 49%;
    margin-bottom: 6rem;

    span {
        display: block;
    }

    @supports(display: grid) {
        width: auto;
        margin-bottom: 0;
    }
    
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;
}