@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

body {
    font-family: Oswald, Arial, Helvetica, sans-serif;
}
.heading {
    
    &-4 {
        // @extend %heading;
        color: $color-orange;
        font-family: "Josefin Sans", sans-serif !important;
        font-weight: 400;
        font-size: 2.9rem;

        @include responsive(small-phone) {
            font-size: 2.4rem;
        }
    }
}