.orange {
    color: $color-orange;
}

.grey {
    color: $color-grey;
}

.padding-top-small {
    padding-top: .7rem;
}

.deactivated {
    filter: opacity(80%) grayscale(100%);
}

.align-center {
    text-align: center;
}

a.disable {
    pointer-events: none;
    cursor: default;
  }
